 :root{
--border: 5%  5% 5% 5%;
 --borderBottom: 0% 0% 5% 5%;
 --borderTop: 5% 5% 0% 0%;
 --color: rgb(3, 7, 12);
 --bgcolor: rgb(255, 255, 255);
 --fontFamily: 'Raleway'; 
 --margin: 1em;
 --marginTop: .1em;
 --marginLeft: .5em;
 --marginRigth: .3em;
 --margingBottom: .3em;
 --padding: 1em;
 --paddingTop: .3em;
 --paddingLeft: .5em;
 --paddingBottom: .3em;
 --paddingRigth: .3em;
 --box-shadow: 4px 6px 2px 3px rgb(240, 240, 240);
 --transition: .1s ease;
}
.container_2{
    display: flex
}
.title_container_2 {
    font-family: var(--fontFamily);
    font-size: 25px;
    margin-left: 1em;
}
/*--------------------première et troisième div------------------------------*/
.container_2_bloc_1 {
    width: auto;
    background-color: var(--bgcolor);
    height: 450px;
    margin: 1.5em;
    margin-top: 0em;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}
.container_2_bloc_1 > a > img {
    width: 300px;
    height: 400px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}
.container_2_bloc_1 > p {
    font-family: var(--fontFamily);
    color: var(--color);
    margin-top: var(--marginTop);
    margin-left: var(--marginLeft);
}


.container_2_bloc_3 {
    width: auto;
    background-color: var(--bgcolor);
    height: 450px;
    margin: 1.5em;
    margin-top: 0em;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}
.container_2_bloc_3 > a > img {
    width: 300px;
    height: 400px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}
.container_2_bloc_3 > p {
    font-family: var(--fontFamily);
    color: var(--color);
    margin-top: var(--marginTop);
    margin-left: var(--marginLeft);
}
/*--------------------deuxième div------------------------------*/
.container_2_bloc_2 {
    float: left;
    width: auto;
    height: 450px;
    border-radius: var(--border);
}
.container_2_bloc_2_1 {
    width: auto;
    background-color: var(--bgcolor);
    height: 240px;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}
.container_2_bloc_2_1 > a > img {
    width: 300px;
    height: 195px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}
.container_2_bloc_2_1 > p {
    font-family: var(--fontFamily);
    color: var(--color);
    margin-top: var(--marginTop);
    margin-left: var(--marginLeft);
}
.container_2_bloc_2_2 {
    width: auto;
    margin-top: .9em;
    background-color: var(--bgcolor);
    height: 200px;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}
.container_2_bloc_2_2 > a > img {
    width: 300px;
    height: 150px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}
.container_2_bloc_2_2 > p {
    font-family: var(--fontFamily);
    color: var(--color);
    margin-top: var(--marginTop);
    margin-left: var(--marginLeft);
}
/*--------------------quatrième div------------------------------*/

.container_2_bloc_4 {
    float: left;
    width: auto;
    height: 450px;
    border-radius: var(--border);
}
.container_2_bloc_4_1 {
    width: auto;
    background-color: var(--bgcolor);
    height: 200px;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}
.container_2_bloc_4_1 > a > img {
    width: 300px;
    height: 160px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}
.container_2_bloc_4_1 > p {
    font-family: var(--fontFamily);
    color: var(--color);
    margin-top: var(--marginTop);
    margin-left: var(--marginLeft);
}
.container_2_bloc_4_2 {
    width: auto;
    background-color: var(--bgcolor);
    margin-top: .9em;
    height: 240px;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}
.container_2_bloc_4_2 > a > img {
    width: 300px;
    height: 200px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}
.container_2_bloc_4_2 > p {
    font-family: var(--fontFamily);
    color: var(--color);
    margin-top: var(--marginTop);
    margin-left: var(--marginLeft);
}
/*------------------------------FOOTER---------------------------*/
footer {
    padding: 2em;
    display: flex;
    margin-top: 1em;
    background-color: rgb(247, 243, 243);
}
.footer_bloc_1 {
    margin-left: 3em;
    margin-right: 15%;
    margin-top: 2em;
    margin-bottom: 3em;
}
.footer_bloc_2 {
    margin-left: 2em;
    margin-right: 15%;
    margin-top: 2em;
}
.footer_bloc_3 {
    margin-left: 2em;
    margin-top: 2em;
}
.footer_bloc_1_p1 {
    font-family: var(--fontFamily);
}

/*--------------------RESPONSIVE------------------------------*/
@media all and (max-width: 992px)  {
    /*------------------------------------------------TABLETTE--------------------------------------------*/
      
    .container_2{
        display: flex;
        flex-wrap: wrap;
    }
    /*--------------------première et troisième div------------------------------*/
.container_2_bloc_1 {
    width: 250px;
    background-color: var(--bgcolor);
    height: 240px;
    margin-right: 1.7em;
    margin-top: .5;
    margin-top: 0em;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}
.container_2_bloc_1 > a > img {
    width: 250px;
    height: 190px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}
.container_2_bloc_3 {
    width: 250px;
    background-color: var(--bgcolor);
    height: 240px;
    margin-right: 1.7em;
    margin-top: .5;
    margin-top: 0em;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}
.container_2_bloc_3 > a > img {
    width: 250px;
    height: 190px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}
/*--------------------deuxième div------------------------------*/
.container_2:nth-child(2){
    order: 1;
}
.container_2_bloc_2 {
    float: left;
    width: 250px;
    margin-left: 1.5em;
    margin-bottom: 5em;
    height: 450px;
    border-radius: var(--border);
}
.container_2_bloc_2_1 {
    width: 250px;
    background-color: var(--bgcolor);
    height: 240px;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}
.container_2_bloc_2_1 > a > img {
    width: 250px;
    height: 190px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}
.container_2_bloc_2_2 {
    width: 250px;
    margin-top: .9em;
    background-color: var(--bgcolor);
    height: 240px;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}
.container_2_bloc_2_2 > a > img {
    width: 250px;
    height: 190px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}

    
/*--------------------quatrième div------------------------------*/

.container_2_bloc_4 {
    float: left;
    width: 250px;
    height: 450px;
    border-radius: var(--border);
    margin-left: 2em;
    margin-top: -30%;
}
.container_2_bloc_4_1 {
    width: 250px;
    background-color: var(--bgcolor);
    height: 240px;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}
.container_2_bloc_4_1 > a > img {
    width: 250px;
    height: 190px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}
.container_2_bloc_4_2 {
    width: 250px;
    background-color: var(--bgcolor);
    margin-top: -15.5em;
    margin-left: 225%;
    height: 240px;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}
.container_2_bloc_4_2 > a > img {
    width: 250px;
    height: 190px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}

    @media all and (max-width: 768px){
        /*-----------------------------------------TELEPHONE-------------------------------------*/
        
    .container_2{
        display: flex;
        flex-wrap: wrap;
        margin-left: 1em;
    }
    .title_container_2 {
        margin-left: 2em;
    }
    /*--------------------première et troisième div------------------------------*/
.container_2_bloc_1 {
    width: 350px;
    background-color: var(--bgcolor);
    height: 240px;
    margin: 1.5em;
    margin-top: 0em;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}
.container_2_bloc_1 > a > img {
    width: 350px;
    height: 190px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}
.container_2_bloc_3 {
    width: 350px;
    background-color: var(--bgcolor);
    height: 240px;
    margin: 1.5em;
    margin-top: -1em;
    margin-bottom: 10em;
    margin-left: 1em;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}
.container_2_bloc_3 > a > img {
    width: 350px;
    height: 190px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}
/*
.container_2_bloc_2:nth-child(1){
    margin-bottom: 10em;
}
*/
/*--------------------deuxième div------------------------------*/
.container_2_bloc_2 {
    float: left;
    width: 350px;
    margin-left: 1.5em;
    margin-bottom: 5em;
    height: 450px;
    border-radius: var(--border);
}
.container_2_bloc_2_1 {
    width: 350px;
    background-color: var(--bgcolor);
    height: 240px;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}
.container_2_bloc_2_1 > a > img {
    width: 350px;
    height: 190px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}
.container_2_bloc_2_2 {
    width: 350px;
    margin-top: .9em;
    background-color: var(--bgcolor);
    height: 240px;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}
.container_2_bloc_2_2 > a > img {
    width: 350px;
    height: 190px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}
/*--------------------quatrième div------------------------------*/

.container_2_bloc_4 {
    float: left;
    width: 350px;
    height: 450px;
    border-radius: var(--border);
    margin-left: 1em;
    margin-bottom: 2em;
}
.container_2_bloc_4_1 {
    width: 350px;
    background-color: var(--bgcolor);
    height: 240px;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
    margin-bottom: 2em;
}
.container_2_bloc_4_1 > a > img {
    width: 350px;
    height: 190px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}
.container_2_bloc_4_2 {
    width: 350px;
    background-color: var(--bgcolor);
    margin-top: .9em;
    height: 240px;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
    margin-left: .2em;
}
.container_2_bloc_4_2 > a > img {
    width: 350px;
    height: 190px;
    border-radius: var(--borderTop);
    transition: var(--transition);
}

/*------------------------------FOOTER---------------------------*/
footer {
    margin-top: 4em;
    margin-left: 2em;
    padding: 2em;
    display: flex;
    background-color: rgb(247, 243, 243);
    flex-wrap: wrap;
}
.footer_bloc_2 {
    margin-left: 3.5em;
    margin-right: 20%;
    margin-top: 1em;
}
.footer_bloc_3 {
    margin-left: 4em;
    margin-top: 2em;
}
}    
}
