@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;1,100&display=swap');


:root {
    --margin-left: 1em;
    --padding-left: 2em;
    --padding-top: 2em;
    --transition: .1s ease;
    /*--------------left-------------*/
    --div-left-width: 28%;
    --div-left-heigth: 190px;
    --img-left-width: 95%;
    --img-left-heigth: 90px;
    /*--------------rigth-------------*/
    --div-rigth-width: 95%;
    --div-rigth-heigth: auto;
    --img-rigth-width: 95%;
    --img-rigth-heigth: 135px;
    /*---------------variable pour le telephone-------------*/
    /*------left---------------*/
    --phone-div-left-width: 100%;
    --phone-div-left-heigth: auto;
    --phone-img-left-width: 95%;
    --phone-img-left-heigth: 140px;
    /*---------------rigth-------*/
    --phone-div-rigth-width: 90%;
    --phone-div-rigth-heigth: 150px;
    --phone-img-rigth-width: 95%;
    --phone-img-rigth-heigth: 135px;
    /*---------------variable pour la tablette-------------*/
    /*------left---------------*/
    --tablette-div-left-width: 45%;
    --tablette-div-left-heigth: auto;
    --tablette-img-left-width: 95%;
    --tablette-img-left-heigth: 50px;
    /*---------------rigth-------*/
    --tablette-div-rigth-width: 95%;
    --tablette-div-rigth-heigth: 150px;
    --tablette-img-rigth-width: 95%;
    --tablette-img-rigth-heigth: 135px;
}
/*
body {
    margin-left: 2em;
    background: url("../imgs/advit.jpg") fixed no-repeat, rgba(155, 200, 200, 0.1);
}
*/
body {
    justify-content: center;
    display: block;
    background: #ffffff;
}

header {
    display: flex;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
.container{
    margin-left: .5em;
    margin-top: 0em;
}
.entete_elt {
    display: flex;
}
.logo {
    display: contents;
}
.logo2 {
    position: absolute;
    opacity: 0;
}
.logo1 {
    position: relative;
    width: 15%;
    height: 90px;
    opacity: 1;
    transition: .5s ease;
}
.lien1{
    color: #0065FC;
}
.lien1:hover {
    color: #0065FC;
    cursor: pointer;
    border-top: #0065FC solid .9px;
}
.lien2:hover{
    cursor: pointer;
    text-decoration: dashed;
    border-top: #0065FC solid .9px;
}
.hebergement_activite {
    margin-right: 0em;
    margin-top: 0em;
    display: flex;
    margin-left:  65%;
}
.hebergement_activite > div {
    padding-left: 2em;
    padding-top: 2em;
    padding-right: 2em;
}
.p1 {
    font-family: 'Raleway';
    margin-left: 1em;
}
.p2 {
    padding-left: 1em;
}

/* j'utillise calc() pour ne pas avoir le signe '-' */
.recherche {
    margin-left: 1em;
    display: flex;
    margin-bottom: 1em;
}
.icon {
    background: #DEEBFF;
    width: 5%;
    height: 55px;
    border-radius: 15px 0px 0px 15px;
}
.icon > i {
    position: relative;
    top: 25%;
    left: 45%;
    width: 25%;
    font-size: 1.5em;
}
.input{
    background: rgb(240, 233, 233);
}
.input > input {
    font-size: 25px;
    width: 200px;
    height: 50px;
    margin-top: 2px;
    border: none;
    color: #060a0f;
    background: #ffff;
}
input:focus{
    background-color: rgb(243, 237, 237);
}
.labelRecherche {
    width: 10%;
    padding: .25em;
    border-radius: 0% 15px 15px 0% ;
    background: #0065FC;
    color: aliceblue;
    font-size: 180%;
}
.labelRecherche:hover{
    opacity: .5;
    background: #a9afb8;
    cursor: pointer;
}
.labelRecherche > label {
    position: relative;
    opacity: 1;
    font-size: 75%;
    width: 8%;
    cursor: pointer;
}
.labelRecherche > i {
    position: absolute;
    opacity: 0;
}
/*--------------------------------filtre-------------------------------*/
.filter {
    display: flex;
    flex-wrap: wrap;
}
.filter_text_title {
    padding: 1em;
    margin-top: 1.5em;
    font-size: 1em;
    font-family: 'Raleway';
}
.filter_contern {
    opacity: 1;
    margin: 1em;
    display: flex;
    background: #ffffff;
    height: 50px;
    border-radius: 50px;
    border: .1em solid #c8cacc;
}
.filter_contern > label{
    text-align: center;
}
.filter_contern:hover{
    opacity: 1;
    background: #f2f1f7;
    cursor: pointer;
}
.filter_contern:active{
    color: #194172;
    border: 2px solid;
}
.filter_contern:visited{
    background: #060a0f;
}
.filter_contern:nth-child(3) > .filter_icon > i {
    margin-left: .9em;
}
.filter_contern:nth-child(5) > .filter_icon > i {
    margin-left: .8em;
}
.filter_icon:hover{
    background: #032a68;
}
.filter_icon {
    background: #c8cacc;
    border-radius: 100px;
    font-size: 100%;
    width: 50px;
    margin-left: -.09em;
    margin-top: -.09em;
    margin-right: .1em;
}
/*---------------ILLUSTRATION D'UNE CONDITION AU PASSAGE DU CURSEUR DE LA SOURIS----------------------*/
.filter_contern:hover .filter_icon{
    background: rgb(73, 18, 136);
}
.filter_contern:hover .filter_text > label{
    color: blue;
    cursor: pointer;
}
.filter_contern:hover .filter_icon > i {
    color: #ffffff;
}
.filter_icon > i {
    color: #032a68;
    font-size: 20px;
    margin-left: .7em;
    margin-top: .9em;
}
.filter_icon > i:hover{
    opacity: 1;
    color: #060a0f;
}
.filter_text {
    padding: 1em;
    font-size: 1em;
    font-family: 'Raleway';
}
.info {
    display: flex;
    margin-left: 1em;
}
.info_icon {
    border: .1em solid #c8cacc;
    border-radius: 100px;
    height: 1.5em;
    width: 1.5em;
    margin-right: 1em;
    margin-top: .7em;
}
.info_icon > i {
    color: #686a6d;
    margin-top: .2em;
    margin-left: .5em;
}
.info_message {
    font-family: Arial, Helvetica, sans-serif;
}

/*---------------------------- contenaire / showcase -------------------------*/
.showcase {
    display: flex;
    padding: 1em;
    background: #fefeff;
}

/* ----------------------------LEFT--------------------------------*/
/*
.showcase_left_bloc:nth-child(2){
    background-color: #032a68;
}
*/
.showcase_left {
    float: left;
    flex-wrap: wrap;
    background: #eef1f3;
    border-radius: 30px;
    padding-left: 1em;
    width: 60%;
}
.title_showcase_left {
    font-size: 25px;
    font-family: 'Raleway';
    padding-left: 1em;
    padding-top: 1em;
}
.showcase_left_bloc {
    margin-right: 1em;
    width: 100%;
}
.showcase_left_bloc > div {
    float: left;
    margin: 1em;
    padding: .1em;
    width: var(--div-left-width);
    height: var(--div-left-heigth);
    background: #faf8f8;
    border-radius: 25px;
}
.showcase_left_bloc > div:hover{
    opacity: .9;
    background: #eaedf3;
    box-shadow: 5px 2px 10px;
    cursor: pointer;
    transition: var(--transition);
}
.showcase_left_bloc > div > a > img {
    border-radius: 20px 20px 0px 0px;
    margin: .3em;
    width: var(--img-left-width);
    height: var(--img-left-heigth);
}
.showcase_left_bloc_text {
    display: flex;
    margin-left: .1em;
}
.showcase_left_bloc_text_p1 {
    font-family: 'Raleway';
    margin-top: .1em;
    margin-left: .5em;
    margin-bottom: 0%;
}
.showcase_left_bloc_text_p2 {
    font-style: inherit;
    margin-top: .3em;
    margin-left: .5em;
    margin-bottom: 0%;
}
.euro {
    margin-top: .3em;
    margin-left: .3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.showcase_left_bloc_icon {
    margin-top: calc(1em - 1.5em);
    margin-left: .5em;
    padding-bottom: .5em;
    display: flex;
}
.showcase_left_bloc_icon > i {
    color: #032a68;
}
.showcase_left_bloc_icon_i{
    color: rgb(190, 164, 164);
}
.text_bloc_left_end {
    font-family: 'Raleway';
    margin-right: 40%;
    margin-top: 1em;
    margin-left: 2em;
}

/*------------------------------------ RIGTH -----------------------------*/
.bloc_title_showcase_rigth {
    display: flex;
}
.bloc_title_showcase_rigth > i {
    margin-left: 35%;
    margin-top: .75em;
    font-size: 25px;
    margin-bottom: 0em;
}
.title_showcase_rigth {
    font-size: 20px;
    font-family: 'Raleway';
    padding-left: 1em;
    padding-top: 1em;
}
.showcase_rigth_text {
    padding: 0em;
}
.showcase_rigth {
    float: left;
    background: #eef1f3;
    border-radius: 30px;
    margin-left: 3em;
    margin-right: 2em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: calc(1em - 2em);
    width: 30%;
}
.showcase_rigth_bloc {
    margin: 0em;
}
.showcase_rigth_bloc > div{
    display: flex;
    width: var(--div-rigth-width);
    height: var(--div-rigth-heigth);
    margin: 1em;
    background: #faf8f8;
    border-radius: 25px;
}
.showcase_rigth_bloc > div:hover{
    opacity: .8;
    box-shadow: 5px 2px 10px;
    transition: var(--transition);
}
.showcase_rigth_bloc > div > a {
    position: relative;
    width: 200px;
    height: 150px;
}
.showcase_rigth_bloc > div > a > img {
    opacity: 1;
    border-radius: 20px 0px 0px 20px;
    margin: .5em;
    width: var(--img-rigth-width);
    height: var(--img-rigth-heigth);
    backface-visibility: hidden;
}
.p1 {
    font-family: 'Raleway';
    margin-top: .5em;
    margin-left: .5em;
    margin-bottom: 0%;
}

/* -------------------------- LEFT -------------------------*/
.showcase_left_bloc_text {
    display: flex;
    margin-left: .1em;
}
.showcase_left_bloc_text_p1 {
    font-family: 'Raleway';
    margin-top: .1em;
    margin-left: .5em;
    margin-bottom: 0%;
}
.showcase_left_bloc_text_p2 {
    font-style: inherit;
    margin-top: .3em;
    margin-left: .5em;
    margin-bottom: 0%;
}
.euro {
    margin-top: .3em;
    margin-left: .3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.showcase_left_bloc_icon {
    margin-top: calc(1em - 1em);
    margin-left: .5em;
    display: flex;
}
.showcase_left_bloc_icon > i {
    color: #3274df;
}
.showcase_left_bloc_icon_i{
    color: rgb(190, 164, 164);
}
/*
#container {
    display: grid;
    grid: repeat(2, 60px) / auto-flow 80px;
    padding: 5em;
  }
  
  #container > div {
    background-color: #8ca0ff;
    width: 50px;
    height: 50px;
  }
  */
/*--------------------RESPONSIVE------------------------------*/

/*
@media only screen and (min-width: 760px) and (max-width: 992px) {

}
*/
    @media only screen and (min-width: 975px) and (max-width: 1300px){
               /*------------------------------------------------TABLETTE--------------------------------------------*/
            header {
               padding-top: 0em;
                padding-left: var(--padding-left);
                flex-wrap: wrap;
            }
            .entete_elt {
                display: flex;
            }
            .logo1 {
                margin-left: 1em;
                position: relative;
                width: 15%;
                height: 90px;
                opacity: 1;
            }
            .logo2 {
                position: absolute;
                opacity: 0;
                margin-bottom: 0em;
            }
            .hebergement_activite {
                display: flex;
                margin-left: 65%;
                margin-top: -6em;
            }
            .hebergement_activite > div {
                padding-left: 2em;
                padding-top: 1em;
                padding-right: 2em;
            }
                        
            .icon {
                background: #DEEBFF;
                width: 6%;
                height: 55px;
                border-radius: 25% 0% 0% 25%;
            }
            .labelRecherche {
                width: 10%;
                padding: .25em;
                background: #0065FC;
                color: aliceblue;
                font-size: 180%;
            }
            .labelRecherche > label {
                position: relative;
                opacity: 1;
                font-size: 58%;
            }
            .labelRecherche > i {
                margin-left: .5em;
                position: absolute;
                opacity: 0;
                font-size: 20px;
            }
    
            /*------------------------------------- CONTAINER/ SCHOWCASE ----------------------------------------------*/
    
            .showcase {
                display: flex;
                padding: 1em;
                background: #fefeff;
            }
    
            /* ----------------------------LEFT--------------------------------*/
            .showcase_left{
                margin-top: 1em;
                margin-right: 1em;
            }
            .showcase_left_bloc {
                display: flex;
                flex-wrap: wrap;
                margin-right: 1em;
                width: 85%;
                margin-left: 3em;
            }
            .showcase_left_bloc > div:nth-child(1){
                width: 45%;
            }
            .showcase_left_bloc > div:nth-child(2){
                width: 45%;
            }
            .showcase_left_bloc > div:nth-child(3){
                width: 45%;
            }
            .showcase_left_bloc > div:nth-child(4){
                width: 45%;
            }
            .showcase_left_bloc > div:nth-child(5){
                width: 45%;
            }
            .showcase_left_bloc > div:nth-child(6){
                width: 45%;
            }
            
            .showcase_left {
                flex-wrap: wrap;
                background: #eef1f3;
                border-radius: 10px;
                padding-left: calc(1em - 2em);
                margin-right: 1em;
            }
            .showcase_left_bloc > div {
                float: left;
                margin: 0em 1em 1em .1em;
                padding: .1em;
                width: var(--tablette-div-left-width);
                height: var(--tablette-div-left-heigth);
                background: #faf8f8;
                border-radius: 25px;
                transition: var(--transition);
            }

            /*------------------------------------ RIGTH -----------------------------*/
            .bloc_title_showcase_rigth {
                display: flex;
            }
            .bloc_title_showcase_rigth > i {
                margin-left: 35%;
                margin-top: .75em;
                font-size: 25px;
                margin-bottom: 0em;
            }
            .showcase_rigth {
                float: left;
                background: #eef1f3;
                border-radius: 10px;
                margin-top: 1em;
                margin-left: 1em;
                padding-top: .5em;
                padding-bottom: calc(1em - 2em);
            }
            .showcase_rigth_bloc {
                margin: 0em;
            }
            .showcase_rigth_bloc > div{
                display: flex;
                width: var(--tablette-div-rigth-width);
                height: var(--tablette-div-rigth-heigth);
                margin: 1em;
                background: #faf8f8;
                border-radius: 25px;
            }
            footer {
                margin-top: 0em;
            }
    
            .container {
                margin-bottom: 0em;
            }
    
    }

    @media only screen and (min-width: 768px) and (max-width: 975px) {
                /*------------------------------------------------TABLETTE PETIT ECRAN OU intermeédière (déplacement du block droit)--------------------------------------------*/
            header {
                padding-top: 0em;
                padding-left: var(--padding-left);
                flex-wrap: wrap;
            }
            .entete_elt {
                display: flex;
            }
            .logo1 {
                margin-left: 1em;
                position: relative;
                width: 15%;
                height: 90px;
                opacity: 1;
            }
            .logo2 {
                position: absolute;
                opacity: 0;
                margin-bottom: 0em;
            }
            .hebergement_activite {
                display: flex;
                margin-left: 45%;
                margin-top: -6em;
            }
            .hebergement_activite > div {
                padding-left: 2em;
                padding-top: 1em;
                padding-right: 2em;
            }
            .labelRecherche {
                width: 10%;
                padding: .25em;
                background: #0065FC;
                color: aliceblue;
                font-size: 180%;
            }
            .icon {
                background: #DEEBFF;
                width: 8%;
                height: 55px;
                border-radius: 25% 0% 0% 25%;
            }
            .labelRecherche > label {
                position: absolute;
                opacity: 0;
                font-size: 58%;
            }
            .labelRecherche > i {
                margin-left: .5em;
                position: relative;
                opacity: 1;
                font-size: 20px;
                margin-left: 50%;
            }

            /*------------------------------------- CONTAINER/ SCHOWCASE ----------------------------------------------*/

            .showcase {
                display: flex;
                padding: 1em;
                background: #fefeff;
                flex-direction: column-reverse;
            }

            /* ----------------------------LEFT--------------------------------*/
            .showcase_left{
                margin-top: 1em;
                margin-right: 1em;
                width: 97%;
            }
            .showcase_left_bloc {
                display: flex;
                flex-wrap: wrap;
                margin-right: 1em;
                width: 100%;
                margin-left: 3.5em;
            }
            .showcase_left_bloc > div:nth-child(1){
                width: 40%;
            }
            .showcase_left_bloc > div:nth-child(2){
                width: 40%;
            }
            .showcase_left_bloc > div:nth-child(3){
                width: 40%;
            }
            .showcase_left_bloc > div:nth-child(4){
                width: 40%;
            }
            .showcase_left_bloc > div:nth-child(5){
                width: 40%;
            }
            .showcase_left_bloc > div:nth-child(6){
                width: 40%;
            }
            
            .showcase_left {
                flex-wrap: wrap;
                background: #eef1f3;
                border-radius: 10px;
                padding-left:calc(1em - 2em);
            }
            .showcase_left_bloc > div {
                float: left;
                margin: 2em 1em 1em .1em;
                padding: .1em;
                width: var(--tablette-div-left-width);
                height: var(--tablette-div-left-heigth);
                background: #faf8f8;
                border-radius: 25px;
                transition: var(--transition);
            }

            /*------------------------------------ RIGTH -----------------------------*/
            .bloc_title_showcase_rigth {
                display: flex;
                width: 100%;
                height: 10px;
            }
        .bloc_title_showcase_rigth > i {
            margin-left: 75%;
            margin-top: .75em;
            font-size: 25px;
            margin-bottom: 0em;
        }
            .showcase_rigth {
                display: flex;
                flex-wrap: wrap;
                background: #eef1f3;
                border-radius: 10px;
                margin-top: 1em;
                margin-left: -.3em;
                padding-top: .5em;
                padding-bottom: calc(1em - 2em);
                width: 95%;
            }
            .showcase_rigth_bloc {
                display: flex;
                flex-wrap: wrap;
                margin-top: 3.5em;
                width: 100%;
            }
            .showcase_rigth_bloc > div{
                width: 45%;
                height: var(--tablette-div-rigth-heigth);
                margin: 1em;
                background: #faf8f8;
                border-radius: 25px;
            }

            .container {
                margin-bottom: 0em;
            }

        
    }
    
    @media all and (min-width: 600px) and (max-width: 768px){
        /*-----------------------------------------TELEPHONE-------------------------------------*/
        header {
            padding-top: 1em;
            padding-left: var(--padding-left);
            flex-wrap: wrap;
        }
        .entete_elt {
            display: flex;
        }
        .logo1 {
            margin-left: 30%;
            margin-top: 0em;
            position: relative;
            width: 28%;
            height: 50px;
            opacity: 1;
        }
        .logo2 {
            position: absolute;
            opacity: 0;
        }
        .hebergement_activite {
            position: relative;
            margin-left:  20%;
            margin-bottom: 0em;
            margin-left: -3em;
        }
        .hebergement_activite > div {
            padding-left: 9em;
            padding-top: 2em;
            padding-right: 5em;
        }
        .lien1{
            border-bottom: #0e4cb1 solid 1px;
            border-top: none;
        }
        .lien1:hover{
            border-top: none;
        }
        .lien2:hover{
            border-bottom: #0065FC solid 1px;
            width: 185px;
            border-top: none;
        }         
        .labelRecherche > label {
            position: absolute;
            opacity: 0;
            font-size: 40%;
        }
        .input > input{
            width: 100%;
        }
        .icon {
            background: #DEEBFF;
            width: 10%;
            height: 55px;
            border-radius: 25% 0% 0% 25%;
        }
        .labelRecherche > i {
            margin-left: .5em;
            position: relative;
            opacity: 1;
            font-size: 20px;
        }
        /*--------------FILTRE-----------------------*/
        .filter_text_title{
            margin-top: .5em;
            margin-right: 50%;
        }
        .filter_contern {
            opacity: 1;
            margin: 1em;
            display: flex;
            background: #fbfcfd;
            height: 10%;
            border: .1em solid #c8cacc;
        }
        /*---------------------------- contenaire / showcase -------------------------*/
        .showcase {
            display: flex;
            padding: 1em;
            background: #fefeff;
            flex-direction: column-reverse;
        }
    
        /* ----------------------------LEFT--------------------------------*/
        /*
        .showcase_left_bloc:nth-child(2){
            background-color: #032a68;
        }
        */
        .showcase_left {
            display: flex;
            flex-wrap: wrap;
            background: #ffffff;
            border-radius: 10px;
            padding-left: 1em;
            margin-right: -1em;
            width: 100%;
        }
        .title_showcase_left {
            font-size: 25px;
            font-family: 'Raleway';
            padding-left: .1em;
            padding-top: 1em;
        }
        .showcase_left_bloc {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        .showcase_left_bloc > div {
            margin: 1em;
            margin: 1em;
            width: 40%;
            height: var(--phone-div-left-heigth);
            background: #ffffff;
            box-shadow: 3px 5px rgb(240, 234, 234);
        }
        .showcase {
            display: flex;
            padding: .5em;
            background: #fefeff;
        }

            /*------------------------------------ RIGTH -----------------------------*/
        .bloc_title_showcase_rigth {
            display: flex;
            margin-left: 1em;
        }
        .bloc_title_showcase_rigth > i {
            margin-left: 65%;
            margin-top: .75em;
            font-size: 25px;
            margin-bottom: 0em;
        }
        .showcase_rigth {
            float: left;
            background: #eef1f3;
            margin: 1em;
            width: 90%;
            padding-bottom: calc(1em - 2em);
        }
        .showcase_rigth_bloc > div{
            display: flex;
            width: var(--phone-div-rigth-width);
            height: var(--phone-div-rigth-heigth);
            margin: 1em;
            background: #faf8f8;
            border-radius: 20px;
        }
        .showcase_rigth_bloc > div > a > img {
            opacity: 1;
            margin: .5em;
            width: var(--phone-img-rigth-width);
            height: var(--phone-img-rigth-heigth);
            transition: .5s ease;
            backface-visibility: hidden;
        }
                        
       .showcase_rigth_text > .showcase_left_bloc_icon {
        margin-top: 3.5em;
        margin-left: .5em;
        display: flex;
        }
}

    @media all and (max-width: 600px) {
        
        /*-----------------------------------------TELEPHONE-------------------------------------*/
        header {
            padding-top: 1em;
            padding-left: var(--padding-left);
            flex-wrap: wrap;
        }
        .entete_elt {
            display: flex;
        }
        .logo1 {
            margin-left: 8em;
            position: relative;
            width: 25%;
            height: 50px;
            opacity: 1;
        }
        .logo2 {
            position: absolute;
            opacity: 0;
        }
        
        .hebergement_activite {
            position: relative;
            margin-left: 0em;
        }
        .lien1{
            border-bottom: #0e4cb1 solid 1px;
            border-top: none;
            width: 125px;
            margin-left: -3em;
        }
        .lien1:hover{
            border-top: none;
            cursor: pointer;
        }
        .lien2:hover{
            border-bottom: #0065FC solid 1px;
            width: 150px;
            border-top: none;
            cursor: pointer;
        }
        .hebergement_activite > div {
            padding-left: 4em;
            padding-top: 2em;
            padding-right: 2em;
        }
                
        .icon {
            background: #DEEBFF;
            width: 12%;
            height: 55px;
            border-radius: 25% 0% 0% 25%;
        }
                        
        .labelRecherche > label {
            position: absolute;
            opacity: 0;
            font-size: 40%;
        }
        .input > input{
            width: 290px;
        }
        .labelRecherche > i {
            margin-left: .5em;
            position: relative;
            opacity: 1;
            font-size: 20px;
        }
        /*--------------FILTRE-----------------------*/
        .filter_text_title{
            margin-top: .5em;
            margin-right: 50%;
        }
        .filter_contern {
            opacity: 1;
            margin: 1em;
            display: flex;
            background: #fbfcfd;
            height: 10%;
            border: .1em solid #c8cacc;
        }
        /*---------------------------- contenaire / showcase -------------------------*/
        .showcase {
            display: flex;
            padding: 1em;
            background: #fefeff;
            flex-direction: column-reverse;
        }
    
        /* ----------------------------LEFT--------------------------------*/
        /*
        .showcase_left_bloc:nth-child(2){
            background-color: #032a68;
        }
        */
        .showcase_left {
            display: flex;
            flex-wrap: wrap;
            background: #ffffff;
            border-radius: 10px;
            padding-left: .5em;
            width: 95%;
        }
        .title_showcase_left {
            font-size: 25px;
            font-family: 'Raleway';
            padding-left: .1em;
            padding-top: 1em;
        }
        .showcase_left_bloc {
            margin-left: 1em;
        }
        .showcase_left_bloc > div {
            float: left;
            margin: 1em;
            margin-left: -1em;
            width: var(--phone-div-left-width);
            height: var(--phone-div-left-heigth);
            background: #ffffff;
            box-shadow: 3px 5px rgb(240, 234, 234);
        }
        .showcase_left_bloc > div > a > img {
            margin: .5em;
            width: var(--phone-img-left-width);
            height: var(--phone-img-left-heigth);
            transition: .5s ease;
        }
        .showcase {
            display: flex;
            padding: .5em;
            background: #fefeff;
        }

            /*------------------------------------ RIGTH -----------------------------*/
        .bloc_title_showcase_rigth {
            display: flex;
            margin-left: 1em;
        }
        .bloc_title_showcase_rigth > i {
            margin-left: 55%;
            margin-top: .75em;
            font-size: 25px;
            margin-bottom: 0em;
        }
        .showcase_rigth {
            float: left;
            background: #eef1f3;
            margin-top: 1em;
            margin-left: 0em;
            padding-top: .5em;
            width: 95%;
            padding-bottom: calc(1em - 2em);
        }
        .showcase_rigth_bloc {
            margin-left: 1em;
            width: 100%;
        }
        .showcase_rigth_bloc > div{
            display: flex;
            width: var(--phone-div-rigth-width);
            height: var(--phone-div-rigth-heigth);
            margin: 1em;
            background: #faf8f8;
            border-radius: 20px;
        }
        .showcase_rigth_bloc > div > a > img {
            opacity: 1;
            margin: .5em;
            width: var(--phone-img-rigth-width);
            height: var(--phone-img-rigth-heigth);
            transition: .5s ease;
            backface-visibility: hidden;
        }
       .showcase_rigth_text > .showcase_left_bloc_icon {
            margin-top: 2.5em;
            margin-left: .5em;
            display: flex;
        }

    }